.purple{
    background: #8c69c8;
    margin: 4px 5px 17px 0px;
    
}
.container{
    margin: auto;
    padding: auto;
}
.navbar1{
    padding: 0.5rem 4rem;
}
body{
	padding: 1px 130px 38px 130px;
}